* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-size: 100% 100%;
    background-image: url(Fotos/Capa\ Sobre\ Mim.jpg);
    padding: 10px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #4b504c;
    width: 55%;
    padding: 2px;
    text-align: center;
    margin: 80px auto 0; 
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 10px;
}

.redes-sociais, .menu {
    display: flex; 
    justify-content: flex-end; 
    text-align: center;
    padding: 4px;
    width: 50%;
    margin: 0 auto; 
}

.navbar {
    max-width: 1080px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.menu {
    width: 50%;
}

.menu nav a {
    display: flex;
    color: white;
    text-align: center;
    padding-right: 50px;
    font-size: 18px;
    text-decoration: none;
}

.menu nav a:hover {
    color: black;
    cursor: pointer;
}

.redes-sociais {
    gap: 10px; 
}

.redes-sociais button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.redes-sociais button i {
    font-size: 30px; 
    color: rgb(99, 99, 99);
}

.sobre-mim {
    color: #4b504c;
    display: flex; 
    align-items: flex-start; 
    max-width: 1000px; 
    margin: 150px auto; 
}

.foto {
    flex: 0 0 250px; 
    margin-right: 20px; 
}

.foto img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;    
    margin: 30px auto; 

}

.informacoes {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    font-weight: none;
    text-align: justify; 
    margin: 50px auto; 


}

.titulo-sobre-mim {
    font-size: 50px; 
    margin-bottom: 10px; 
    font-weight: bold;
}

.informacoes h2 {
    font-size: 22px; 
    margin-bottom: 10px; 
    font-weight: none;
}


@media (max-width: 768px) {
    header {
        width: 90%; 
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        
    }

    .sobre-mim {
        flex-direction: column; 
        align-items: center;
        margin: 100px auto;
    }

    .foto {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .titulo-sobre-mim {
        font-size: 36px; 
    }

    .informacoes h2 {
        font-size: 22px; 
    }
}